html,
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  background-color: #262721;
  background: url("images/bgpattern.png");
  height: 100%;
}
a {
  color: #8cc84b;
  text-decoration: none;
}
#wrapper {
  height: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: #d2d8ba;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
#wrapper h1 {
  max-width: 100%;
  text-indent: -90000px;
}
form.node-out {
  margin: 25px 0 15px 0;
  height: 40px;
  position: relative;
  text-align: center;
}
form.node-out input[type=text] {
  padding: 5px 12px;
  margin-right: 10px;
  width: 240px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form.node-out input[type=submit] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #8bc84b;
  color: #363730;
  font-weight: bold;
  padding: 6px 12px;
  display: inline-block;
  outline: none;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.30);
  vertical-align: baseline;
}
form.node-out input[type=submit]:hover {
  background-color: #73a53e;
}
form.node-out input {
  font-size: 100%;
  border: none;
  outline: none;
}
#panels {
  list-style-type: none;
}
#panels li.panel ul {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.50);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.50);
  background-color: #222;
  padding: 5px 5px 20px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 0 10px 0px;
  list-style-type: none;
}
#panels li.panel h2 {
  text-align: center;
  font-size: 1.2em;
}
#panels li.panel .title {
  font-size: 1em;
  width: 100%;
  display: block;
}
#panels li.panel .teaser {
  border: none;
  font-size: 0.75em;
}
#panels li.panel .time {
  color: #888;
  font-style: italic;
  float: right;
  clear: both;
  font-size: 0.6em;
}
#panels li.tweets {
  margin: 0 15px;
}
#panels li.tweets .title {
  display: inline;
  width: auto;
}
#panels li.tweets li {
  margin-bottom: 5px;
  clear: both;
}
#panels li.tweets li p.teaser {
  word-wrap: break-word;
  overflow: hidden;
}
#panels li.tweets .avatar {
  float: left;
  margin-right: 10px;
}
#panels li.tweets img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 6px;
  border: none;
}
@media only screen and (max-width: 320px) {
  #wrapper {
    width: 320px;
  }
  #wrapper h1 {
    margin-top: 3px;
    background: url("images/nodekc-dark-small.png") no-repeat center center;
    width: 320px;
    height: 104px;
  }
  form.node-out {
    margin: 0;
    margin-top: 5px;
    height: 25px;
  }
  form.node-out input[type=text] {
    width: 150px;
    margin: 0 4px 0 0;
    padding: 2px;
  }
  form.node-out input[type=submit] {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    font-size: 0.85em;
  }
  #panels li.panel {
    text-align: left;
    margin: 0;
    margin-left: 4px;
    margin-top: 8px;
    width: 310px;
    float: none;
    clear: both;
  }
}
@media only screen and (min-width: 321px) {
  #wrapper {
    width: 95%;
  }
  #wrapper h1 {
    margin: 20px 0 10px 0;
    height: 200px;
    min-width: 600px;
    background: url("images/nodekc-dark.png") no-repeat center center;
  }
  #panels li.panel {
    float: left;
    width: 30%;
    text-align: left;
    margin-top: 15px;
  }
  #panels li.panel li {
    clear: both;
  }
}
