@import 'mixins'

html, *
    margin 0
    padding 0

body
    font-size 100%
    background-color #262721
    background url('images/bgpattern.png')
    height 100%
a
    color #8CC84B
    text-decoration none

#wrapper
    height 100%        
    margin 0 auto
    max-width 1200px
    font-weight bold
    color #D2D8BA
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    text-align center
    h1
        max-width 100%
        text-indent -90000px
form.node-out
    margin 25px 0 15px 0
    height 40px
    position relative
    text-align center
    input[type=text]
        padding 5px 12px
        margin-right 10px
        width 240px
        border-radius(4px)
    input[type=submit]
        border-radius(4px)
        background-color #8BC84B
        color #363730
        font-weight bold
        padding 6px 12px
        display inline-block
        outline none
        text-align center
        text-shadow 0 1px 1px rgba(0,0,0,0.3)
        vertical-align baseline
        &:hover
            background-color #73A53E
    input 
        font-size 100%             
        border none
        outline none

#panels
    max-width 1200px
    list-style-type none
    li.panel
        ul
            box-shadow(1px 1px 1px 1px rgba(0, 0, 0, .5))
            background-color #222
            padding 5px 5px 20px 10px
            border-radius(4px)
            margin 5px 0 10px 0px
            list-style-type none
        h2
            text-align center
            font-size 1.2em
        .title 
            font-size 1em
            width 100%
            display block
        .teaser
            border none
            font-size .75em
        .time
            color #888
            font-style italic
            float right
            clear both
            font-size .6em
    li.tweets 
        margin 0 10px
        .title
            display inline
            width auto
        li 
            margin-bottom 5px
            clear both
            p.teaser
                word-wrap break-word
                overflow hidden
        .avatar
            float left
            margin-right 10px
        img 
            border-radius(3px)
            margin-top 6px
            border none
@media only screen and (max-width: 320px)
    #wrapper 
        width 320px
        h1
            margin-top 3px
            background url('images/nodekc-dark-small.png') no-repeat center center
            width 320px
            height 104px
    form.node-out  
        margin 0
        margin-top 5px
        height 25px 
        input[type=text]
            width 150px
            margin 0 4px 0 0
            padding 2px
        input[type=submit]
            padding-left 0px
            padding-right 0px
            margin-left 0px
            font-size .85em
    #panels
        li.panel 
            text-align left
            margin 0
            margin-left 4px 
            margin-top 8px
            width 310px 
            float none
            clear both
@media only screen and (min-width: 321px)
    #wrapper
        width 95%
        h1
            margin 20px 0 10px 0
            height 200px
            min-width 600px
            background url('images/nodekc-dark.png') no-repeat center center
    #panels
        li.panel
            float left
            width 32%
            text-align left
            margin-top 15px
            li
                clear both
