@import 'mixins'

html, *
    margin 0
    padding 0

body
    background #46483E url('images/bgpattern.png')
    height 100%

a
    color #8CC84B

#wrapper
    width 1024px
    margin 0 auto
    height 100%
    font-weight bold
    color #D2D8BA
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    text-align center

    h1
        margin 30px 0 10px 0
        height 200px
        max-width 100%
        min-width 900px
        background url('images/nodekc-dark.png') no-repeat center center
        text-indent -90000px
form.node-out
    margin 20px 0 20px 0
    height 40px
    position relative
    text-align center
    input[type=text]
        padding 5px 12px
        margin-right 5px
        width 220px
        border-radius(4px)
    input[type=submit]
        border-radius(4px)
        background-color #8BC84B
        color #363730
        font-size 14px
        font-weight bold
        margin 0 1px
        padding 6px 12px
        display inline-block
        outline none
        text-align center
        text-shadow 0 1px 1px rgba(0,0,0,0.3)
        vertical-align baseline
        &:hover
            background-color #73A53E
    input 
        margin 0
        padding 0
        font-size 100%             
        border none
        outline none
#panels
    list-style-type none
    li.panel
        float left
        width 300px
        text-align left
        margin-top 15px
        margin-left 10px
        li
            clear both
        .title 
            font-size 14px
        ul
            background-color #222
            padding 0px 2px 10px 10px
            margin 5px 0 0 10px
            list-style-type none
        h2
            font-size 20px
            clear both 
            width 300px
            text-align center
        a.message
            font-size .5em
        .time
            font-size 11px
            color #888
            font-style italic
            float right
            margin-right 5px
        .teaser
            font-size 12px
.tweets 
    background url('images/tweets.png') no-repeat center center
    li 
        margin-bottom 5px
        p.teaser
            max-height 60px
            word-wrap break-word
            overflow hidden
    .avatar
        float left
        margin-right 10px
    img 
        border-radius(3px)
        margin-top 10px
p.join
    clear both
    margin-top 10px

