html,
* {
  margin: 0;
  padding: 0;
}
body {
  background: #46483e url("images/bgpattern.png");
  height: 100%;
}
a {
  color: #8cc84b;
}
#wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  font-weight: bold;
  color: #d2d8ba;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-align: center;
}
#wrapper h1 {
  margin: 30px 0 10px 0;
  height: 200px;
  max-width: 100%;
  min-width: 900px;
  background: url("images/nodekc-dark.png") no-repeat center center;
  text-indent: -90000px;
}
#wrapper p {
  font-size: 0.8em;
  padding-top: 1em;
}
#panels {
  list-style-type: none;
}
#panels li.panel {
  float: left;
  width: 300px;
  text-align: left;
  background-color: #222;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
  height: 160px;
  overflow: auto;
}
#panels li.panel ul {
  padding: 0;
  margin-left: 10px;
  list-style-type: none;
}
#panels li.panel h2 {
  font-size: 0.6em;
}
#panels li.panel a.message {
  font-size: 0.5em;
}
#panels li.panel p.teaser {
  font-size: 0.5em;
  margin: 0;
  text-indent: 0.4em;
  padding: 0;
}
#panels li.panel.tweets p.tweet {
  font-size: 1em;
}
#panels li.panel.tweets span {
  font-size: 0.5em;
  color: #ccc;
  margin-bottom: 5px;
  margin-left: 3px;
  text-decoration: underline;
}
