@import 'mixins'

html, *
    margin 0
    padding 0

body
    background #46483E url('images/bgpattern.png')
    height 100%

a
    color #8CC84B

#wrapper
    width 1024px
    margin 0 auto
    height 100%
    font-weight bold
    color #D2D8BA
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    text-align center

    h1
        margin 30px 0 10px 0
        height 200px
        max-width 100%
        min-width 900px
        background url('images/nodekc-dark.png') no-repeat center center
        text-indent -90000px

#panels
    list-style-type none
    li.panel
        float left
        width 300px
        text-align left
        margin-top 15px
        margin-left 10px
        li
            clear both
        .title 
            font-size 14px
        ul
            background-color #222
            overflow auto
            height 230px
            padding 0px 2px 10px 10px
            margin-left 10px
            margin-top 5px
            list-style-type none
        h2
            font-size 20px
            clear both 
            width 300px
            text-align center
        a.message
            font-size .5em
        .time
            font-size 11px
            color #888
            font-style italic
            float right
            margin-right 5px
        .teaser
            font-size 12px
.tweets 
    li 
        margin-bottom 5px
        p.teaser
            max-height 60px
            word-wrap break-word
            overflow hidden
    .avatar
        float left
        margin-right 10px
    img 
        border-radius(3px)
        margin-top 10px
p.join
    clear both
    margin-top 10px

